<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    
    <!-- BOOTSTRAP CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>



    <!-- FONTAWESOME -->
    <!-- <script src="https://use.fontawesome.com/914b5e8fc5.js"></script> -->

    <link rel="stylesheet"
      href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
      integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU"
      crossorigin="anonymous">

    <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
        integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD"
        crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>



       

    <style>
    

      html,body {
        height: 100%;
      }

      #container{
        height: 100%;
      }
      #left{
        height: 100%
      }

    

      #pgn{
          height: 70%;
          /* min-height: 100%; */
          /* display: block; */
          overflow: auto;
      }
      /* #PGNTable{

        overflow: auto;
   
      } */

     

      #container_row { 
        /* width: 100%; */
        height: 100%;
        /* min-height: 100%; */
        /* background: red; */
        /* display: block; */
        }

      /* .fill { 
        min-height: 100%;
        height: 100%;
      } */

    </style>



 


  </head>
  <body>
 
    




      <div id="container" class="container-fluid">

        <div class="row" id="container_row" >

          
          

          <div id="left" class="col-sm-4 col-md-4 col-lg-4 col-xl-4" >
            
            <!-- for pgn -->
            <div id="pgn" class="p-4 mb-4">

            
              <table id="PGNTable" class="table table-bordered h5">
                
                
              </table>

            </div>
              <!-- for input holder -->
              <!-- <div class="row align-item-end"> -->

                
                <!-- <div class="col align-item-end" id="input-holder"> -->

                  <div class="input-group mb-3 ">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-chess-king fa-2x"></i>
                        </span>
                    </div>
                    <input class="form-control" id="input" type="text" placeholder="Enter Move">
                  </div>

                  <!-- INPUT HOLDER -->
                  <div>
                    <!-- <div class="p-4  item-hl">Flex Item Left</div> -->
                    <button class="btn btn-dark" id="play_as_black" type="button">You Play as Black</button>
                    <button class="btn btn-outline-dark" id="play_as_white" type="button">You Play as White</button>
                    <button class="btn btn-link" id="copy_fen" type="button">Copy FEN</button>
                    <button class="btn btn-link" id="export_pgn" type="button">Export PGN</button>
                  </div>

                <!-- </div> -->


              <!-- </div> -->

          </div>

          
          <div id="right" class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
            
         
            <div class="d-flex justify-content-center">
                
                

              
              <!-- game buttons -->
              <!-- <div class="p-4 mt-4 mb-4 item-hl">Flex Item Right</div> -->
              <div class="p-3 mt-3">
                <button type="button" class="btn btn-secondary mb-1" id="show-hide_button">Show Board</button>
                <button type="button" class="btn btn-secondary mb-1" id="empty_board">Empty Board</button>

                <select name="engine_level" id="engine_level" class="form-select">
                  <option value="1">Engine Level 1</option>
                  <option value="2">Engine Level 2</option>
                  <option value="3">Engine Level 3</option>
                  <option value="4">Engine Level 4</option>
                  <option value="5" selected>Engine Level 5</option>
                </select>

              </div>
            

            </div>


            <div id="board_holder" class="d-lg-flex justify-content-center">
                
              <div id="board1" style="width: 55%"></div>
              <div id="board2" style="width: 55%"></div>
              
            </div>

            

          </div>

        </div>
        



    

     

      </div>





      
  <!-- BOOTSTRAP JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  <!-- <script>
    var board1 = Chessboard('board1', 'start')
  </script> -->


  <script src="https://kit.fontawesome.com/7ebd2faa22.js" crossorigin="anonymous"></script>


  </body>
</html>
